<p id="notice"><%= notice %></p>

<h1 class="display-4 text-primary">People</h1>

<table class="table mt-5 mb-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>age</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.age %></td>
        <td><%= person.address %></td>
        <td><%= person.phoneN %></td>
        <td><%= person.mail %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%=@msg%></p>
<p><%=@msg2%></p>
<br>

<%= link_to 'New Person', new_person_path %>
